body{
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 1080px;
}

ul{
    list-style: none;
}

/* 头部 */
#header{
    width: 100%;
    height: 100%;
    background-color: #5bc0de;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .5),rgba(0, 0, 0, 0));
}

.content .container{
    position: relative;
}

#header .header-content{
    width: 1280px;
    height: 240px;
    margin: 0 auto;
}

/*轮播通栏*/
#home_slide > .carousel-inner > .item{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 240px;
}

#nav_menu{
    padding: 0;
}

#nav_menu .nav li{
    width: 120px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
#nav_menu .nav li.header-nav-active{
    background-color: #bce8f1;
}

#exit,
#logout{
    display: block;
    width: 80px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    float: right;
}


/* 内容导航 */
.navBar-left{
    float: left;
    width: 240px;
    height: 100%;
    border: 2px solid #ff2a2a;
}

.logo a{
	padding: 0;
}
.logo img{
	width: 120px;
	height: 50px;
	background: url("images/time.jpg") no-repeat;
}

.navBar-left p,
.cartfood p
{
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    margin: 0;
    border-bottom: 2px solid #ccc;
    background-color: #ff2a2a;
}

.navBar-left ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

.navBar-left ul li{
    width: 216px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.navBar-left ul li+li{
    border-top: none;
}

.navBar-left ul li.active{
    background-color: #d9edf7;
}

.tip{
    width: 236px;
    height: 96px;
    margin-left: 14px;
    border: 2px solid #ff2a2a;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tip .tip-title{
    font-size: 18px;
    line-height: 28px;
    padding-left: 4px;
    margin: 0;
    background-color: #ff2a2a;
}
.tip .tip-content{
    display: inline-block;
    font-size: 12px;
    margin: 10px 8px;
    vertical-align: middle;
    line-height: 16px;
}

.product-info{
    position: relative;    
}

.product-info .nav-shopName{
    width: 552px;
    height: 42px;
    font-size: 24px;
    opacity: .8;
    line-height: 42px;
    text-align: center;
    border-top: 2px solid #000;
    background-color: #2aabd2;
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 999;
}

.product-info .main{
    float: left;
    width: 552px;
    height: 444px;
    padding: 0 46px;
    margin-top: 42px;
    box-shadow: inset 0px 0px 10px #3c3c3c;
    display: none;
    overflow-y: scroll;
}

.product-info .food-main{
    width: 552px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 42px;
}

.product-info .selected{
    display: block;
}
.product-info .shop-box{
    float: left;
    width: 200px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    position: relative;
    cursor: pointer;
}

.product-info .shop-box a img{
    width: 68px;
    height: 68px;
}

.product-info .shop-box .shop-info{
    width: 200px;
    height: 56px;
    padding-left: 74px;
    margin: 6px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.shop-info .shop-title{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-info  .grade{
    width: 110px;
    height: 13px;
    display: inline-block;
    margin: 4px 16px 4px 0;
    background: url("../images/yunshi.png") no-repeat;
    position: relative;
}
.shop-info  .grade .star{
    width: 16px;
    height: 13px;
    position: absolute;
    top:0;
    left:0;
    background:url("../images/yunshi.png") no-repeat left bottom;
}
.shop-info .grade span{
    float: right;
}

.shop-info .sale{
    font-size: 12px;
}

.shop-box .discount{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-info .product-box{
    float: left;
    width: 150px;
    height: 174px;
    margin: 10px;
    box-shadow: 2px 2px 5px #2aabd2;
}

.product-info .product-box a img{
    width: 150px;
    height: 116px;
}

.product-info .product-box .foodTitle{
    float: left;
    width: 72px;
    height: 20px;
    line-height: 20px;
    margin: 4px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-info .product-box .product-num{
    float: right;
    margin: 4px;
}

.product-info .product-box .product-num input{
    float: left;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}

.product-info .product-box .product-num .reduce{
    border-radius: 2px 0 0 2px;
    cursor: pointer;
}
.product-info .product-box .product-num .add{
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.product-info .product-box .price-box{
    float: left;
    width: 52px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin: 4px;
    color: #f15353;
}

.product-info .product-box .addCart{
    float: right;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    margin: 4px;
    border-radius: 2px;
    background: #f15353;
}

.shop-food-info{
    position: absolute;
    top: 0;
    left: 240px;
}

.shop-food-info ul li{
    width: 168px;
    height: 44px;
    font-size: 16px;
    text-align: center;
}

.shop-food-info .tab-pane{
    display: none;
}

.shop-food-info .active{
    display: block;
}

.shop-food-info .evaluation-title{
    width: 100%;
    height: 86px;
    border-bottom: 2px solid #e5e5e5;
}
.evaluation-title .evaluation-title-left{
    float: left;
    width: 40%;
    height: 84px;
}
.evaluation-title .evaluation-title-left span{
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    color: #f15353;
    font-weight: 500;
}
.evaluation-title .evaluation-title-left p{
    width: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.evaluation-title .line{
    float: left;
    width: 2px;
    height: 74px;
    margin-top: 6px;
    background-color: #ccc;
}

.evaluation-title .evaluation-title-right{
    float: left;
    width: 300px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 0;
}
.evaluation-title .evaluation-title-right p{
    font-size: 14px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.evaluation-title-right .grade{
    display: inline-block;
    width: 110px;
    height: 13px;
    margin-left: 10px;
    background: url("../images/yunshi.png") no-repeat;
    position: relative;
}
.evaluation-title-right  .grade .star{
    width: 16px;
    height: 13px;
    position: absolute;
    top:0;
    left:0;
    background:url("../images/yunshi.png") no-repeat left bottom;
}

.evaluation-title-right span.finish-time{
    margin-left: 34px;
}

.evaluation-sort{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #9acfea;
}
.evaluation-sort ul li{
    float: left;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #000;
    margin: 8px 4px;
    background-color: #9acfea;
}
.evaluation-sort li:first-child{
    color: #fff;
    background-color: #269abc;
}

.evaluation-content{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.evaluation-content-left{
    float: left;
    width: 40px;
    height: 100%;
}
.evaluation-content-left img{
    width: 30px;
    height: 30px;
}

.evaluation-content-right p{
    line-height: 30px;
    margin: 0;
}

.evaluation-content-right .evaluation-time{
    float: right;
}

#category_03 p{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    line-height: 36px;
    margin: 0;
}
.activity-service{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.activity-service span{
    display: inline-block;
    font-size: 14px;
    width: 36px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: #f15353;
}

.cart{
    float: right;
    width: 258px;
    height: 100%;
    border: 2px solid #ff2a2a;
}

.cart .cartitle{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    margin: 0;
    border-bottom: 2px solid #ccc;
    background-color: #ff2a2a;
}

.cart .cart-shopName{
	width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ff2a2a;
    padding: 0 10px;
    margin: 0;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.cart .cartitle p,
.cart .cart-shopName p{
	margin: 0;
}

.cart .cartfood{
    width: 256px;
    height: 300px;
    padding: 4px;
}

.cart .cartfood .cartfood-title ul,
.cart .cartfood .cartfood-info ul{
    list-style: none;
    margin: 0;
}

.cart .cartfood .cartfood-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 4px;
    margin-top: 10px;
}


.cartfood .cartfood-title ul li:nth-child(1){
    width: 74px;
}
.cartfood .cartfood-title ul li:nth-child(2){
    width: 64px;
}

.cartfood .cartfood-title ul li:nth-child(3){
    width: 50px;
}

.cartfood .cartfood-title ul li{
    float: left;
    width: 52px;
    font-size: 10px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
}
.cartfood .cartfood-title ul li+li{
    border-left: none;
}

.cartfood .cartfood-info-box{
    width: 100%;
    height: 254px;
    overflow-y: scroll;
}

.cartfood .cartfood-info{
    width: 100%;
    height: 60px;
    padding: 0 4px;
    border-bottom: 2px solid #e5e5e5;
}

.cartfood .cartfood-info ul li{
    float: left;
}

.cartfood .cartfood-info .food-name p{
    width: 74px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border-bottom: 0;
    padding: 0 2px;
    margin: 14px 0;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cartfood-info .food-num{
    width: 64px;
    height: 20px;
    margin-top: 20px;
    padding: 0 2px;
}

.cartfood-info .food-num span{
    display: block;
    width: 14px;
    height: 14px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    margin-top: 3px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.cartfood-info .food-num .add{
    background-color: #ff2a2a;
}

.cartfood-info .food-num input{
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 0 4px;
    /*border-top: 1px solid #e0e0e0;*/
    border: 1px solid #e0e0e0;
    border-radius: 0;
}


.cartfood-info .food-price{
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.cartfood-info .foodUnitPrice{
	display: none;
}
.cartfood-info .food-price .price{
    font-size: 10px;
}


/* 删除 */
.food-delete{
    width: 20px;
    height: 23px;
    margin: 20px 0 0 7px;
    cursor: pointer;
}
.food-delete .food-delete-top{
    width: 20px;
    height: 5px;
    background: url("../images/delete_up.png");
    background-size: 20px 5px;
    display: block;
    margin-left: -1px;
}
.food-delete .food-delete-bot{
    width: 18px;
    height: 18px;
    background: url("../images/delete_down.png");
    background-size: 18px 18px;
    display: block;
    margin-top: -3px;
}

.cart .goPay-box{
    width: 100%;
    height: 106px;
    border-top: 2px solid #f00;
    position: relative;
}

.goPay-box .pay-info .amount{
    font-size: 16px;
    line-height: 28px;
}
.goPay-box .pay-info{
    width: 100%;
    padding: 8px 0 0 6px;
}
.goPay-box .pay-info .amount-sum{
    font-size: 10px;
    opacity: .8;
}
.goPay-box .pay-info span{
    color: #f15353;
}

.goPay-box .pay-submit{
    width: 116px;
    height: 28px;
    background: #f15353;
    line-height: 28px;
    text-align: center;
    margin-left: -58px;
    margin-bottom: 6px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
}
.goPay-box .pay-submit a{
    color: #fff;
    font-size: 14px;
}
.goPay-box .pay-submit a span{
    font-size: 14px;
}

.order,
.order-state{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    display: none;
}

.order .cancel{
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
}

.warn,
.order-state-warn{
    width: 320px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    margin: -326px 0 0 -160px;
    border-radius: 4px;
    background-color: #fff;
}

.order-state-warn{
	width: 340px;
    height: 280px;
    top: 65%;
}

.warn p{
    margin: 0;
}
.order-state-warn p{
	font-size: 32px;
	text-align:center;
	margin-top: 100px;
	color: #ff2a2a;
}

.order-state-warn .order-state-btn{
	width: 68px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	margin: 24px 0 0 136px;
}

.warn h4{
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border-bottom: 4px solid #f15353;
    color: #f00;
    margin-top: 40px;
}

.order .address{
    width: 100%;
    height: 84px;
    padding-left: 8px;
    margin: 6px 0;
}
.order .address p{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 24px;
    margin: 2px;
}
.order .address p:nth-of-type(1){
    color: #888;
    font-size: 10px;
}
.order .address p:nth-of-type(2){
    font-weight: 700;
}
.order .address p:nth-of-type(3){
    font-size: 12px;
}

.order .arrive-time,
.order .pay-style{
    width: 100%;
    height: 38px;
    line-height: 30px;
    padding: 0 8px;
}
.order .arrive-time{
    border-top: 6px solid #e5e5e5;
}
.order .pay-style{
    border-bottom: 6px solid #e5e5e5;
}

.order .arrive-time{
    overflow: hidden;
}

.order .arrive-time p,
.order .pay-style p{
    float: left;
    font-size: 14px;
    font-weight: 600;
}

.order .arrive-time span,
.order .pay-style span{
    float: right;
    font-size: 14px;
    color: #2aabd2;
    cursor: pointer;
}

.order-info-box{
    width: 304px;
    height: 234px;
    margin-left: 8px;
    padding-right: 15px;
    overflow-y: auto;
}

.order-info-box .order-shop-name{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
}

.order-info-box .order-food-info,
.order-info-box .canhe-fee,
.order-info-box .peisong-fee,
.order-info-box .youhui-fee,
.order-info-box .hongbao
{
    width: 304px;
    height: 32px;
    margin: 4px 0;
    border-bottom: 1px solid #e0e0e0;
}

.order-info-box .order-food-info .order-food-left{
    float: left;
    width: 32px;
    line-height: 24px;
    text-align: center;
}
.order-food-left img{
    width: 24px;
    height: 24px;
}

.canhe-fee .canhe-fee-left,
.peisong-fee .peisong-fee-left,
.youhui-fee .youhui-fee-left,
.hongbao .hongbao-left{
    float: left;
    width: 32px;
    line-height: 18px;
    text-align: center;
    margin-top: 4px;
}

.canhe-fee .canhe-fee-left span,
.peisong-fee .peisong-fee-left span,
.youhui-fee .youhui-fee-left span,
.hongbao .hongbao-left span{
    display: inline-block;
    width: 28px;
    height: 18px;
    font-size: 4px;
}
.canhe-fee .canhe-fee-left span{
    color: #2b669a;
    background-color: #f5f5f5;
}
.peisong-fee .peisong-fee-left span{
    color: #fff;
    background-color: #269abc;
}
.youhui-fee .youhui-fee-left span{
    color: #fff;
    background-color: #f15353;
}


.order-info-box .order-food-right,
.order-info-box .canhe-fee-right,
.order-info-box .peisong-fee-right,
.order-info-box .youhui-fee-right,
.order-info-box .hongbao-right{
    float: left;
    width: 260px;
    margin-left: 4px;
}
.order-info-box .order-food-right p,
.order-info-box .canhe-fee-right p,
.order-info-box .peisong-fee-right p,
.order-info-box .youhui-fee-right p,
.order-info-box .hongbao-right p{
    float: left;
    font-size: 14px;
    line-height: 28px;
}
.order-info-box .order-food-right p:nth-child(2),
.order-info-box .canhe-fee-right p:nth-child(2),
.order-info-box .peisong-fee-right p:nth-child(2),
.order-info-box .youhui-fee-right p:nth-child(2),
.order-info-box .hongbao-right p:nth-child(2){
    padding-right: 16px;
    float: right;
}

.pay-option{
    width: 320px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    color: #fff;
    z-index: 1000;
}

.pay-option .pay-option-info{
    margin-top: 4px;
    padding-left: 2px;
}
.pay-option .pay-option-info .pay-option-sumPrice{
    font-size: 16px;
}
.pay-option .pay-option-info .pay-option-youhui{
    font-size: 12px;
    margin-top: 2px;
}
.pay-option .pay-option-info span{
    color: #f15353;
}

.pay-option .pay-option-submit{
    width: 90px;
    height: 40px;
    background: #f15353;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 200;
}
.pay-option .pay-option-submit a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
